*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color:hsl(234, 85%, 95%);

}
.container{

    display: flex;
    flex-direction: column;


}

.card-1{
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 0 0 25px  25px ;
    padding: 2rem 1.5rem ;
    color: hsl(0, 0%, 100%);
    text-align: center;
}
h1{
    font-size: 1rem;
    opacity: 0.7;
}
.result-76{
    font-size: 3rem;
    font-weight: 800;
}
.result-100{
    opacity: .5;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 1rem auto;
}
.head-feedback{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem;
}
.des-feedback{
    opacity: .5;
    font-size: 1em;
}
.card{
    background-color:hsl(234, 85%, 95%);

}
.card-2{
    padding: 1rem 2rem ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    
}
.card-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem ;
    border-radius: 8px;
}
.card-description-head{
    display: flex;
    gap: 1rem;
}
.card-description:nth-of-type(1)
{
    background-color:hsl(0, 100%, 95%);
    color: hsl(0, 100%, 67%);
}
.card-description:nth-of-type(2)
{
    background-color:hsl(39, 100%, 95%);
    color: hsl(39, 100%, 56%);
}
.card-description:nth-of-type(3)
{
    background-color:hsl(166, 100%, 95%);
    color: hsl(166, 100%, 37%);
}
.card-description:nth-of-type(4)
{
    background-color:hsl(234, 85%, 95%);
    color: hsl(234, 85%, 45%);
}
.card-description-item{
    color: grey;
    font-weight: bold;
    font-size: 0.9rem;
}
.score{
    color: black;
    font-weight: 800;
    opacity: 0.8;
}
a{
    text-decoration: none;
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    color: white;
    padding: 0.875rem;
    border-radius: 25px;
}
a:hover,a:active{
    background-color:  hsla(256, 72%, 46%, 1);
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),  hsla(256, 72%, 46%, 1));
    cursor: pointer;
}
@media (min-width:576px) {
    body{
        display: flex;
        flex-direction: column;
        margin: 10em auto;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
    }
    .card-1{
        border-radius:  25px ;
        max-width: 350px;
    }
    .card-2{
        border-radius: 25px;
        background-color:;

    }
  
    .card-description{
        gap: 6rem;
    }
    .head-feedback{
        padding-top: 2rem;
    }
   .des-feedback{
    width: 75%;
    margin-left: 10%;
   }
   
}